{% assign target_alert = nil %}

{% for alert in sorted_alerts %}
  {% assign e_code = alert.categories.effect_code | default: alert.effect.code %}
  {% assign e_code_prefix = e_code | slice: 0, 2 %}

  {% if e_code_prefix == 'PP' or e_code_prefix == 'NP' %}
    {% assign target_alert = alert %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="layout layout--col layout--center-center gap--medium lg:gap--large">
  {% if target_alert %}
    {% assign severity = target_alert.categories.effect_status %}
    {% assign cause = target_alert.categories.cause_code %}
    {% assign description = target_alert.publications[0].textEn %}
    {% assign header = target_alert.publications[0].headerEn %}

    {% assign line_id = nil %}
    {% for entity in target_alert.entities %}
      {% if entity.line_name %}
        {% assign line_id = entity.line_name %}
      {% elsif entity.line_code == "99" %}
        {% assign line_id = "FM" %}
      {% endif %}
      {% if line_id %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% assign line_name = line_id %}
    {% for line_string in lines_data %}
      {% assign parts = line_string | split: ":" %}
      {% if parts[0] == line_id %}
        {% assign line_name = parts[1] %}
        {% break %}
      {% endif %}
    {% endfor %}

    <div class="layout__item text--center">
      <img class="image image-dither h--10 lg:h--20" src="data:image/svg+xml;base64,{{ svg_logo | base64_encode }}" />
      <div class="title title--large lg:title--xlarge portrait:title--small">{{ line_id }}</div>
      <div class="label lg:label--large">{{ line_name }}</div>
      <div>
        <span class="label label--inverted lg:label--xlarge">{{ header }}</span>
      </div>
      <div class="lg:h--5"></div>
      <div
        class="description lg:description--large"
        data-clamp="4"
        data-clamp-lg="5">
        {{ description }}
      </div>
    </div>
  {% else %}
    <div class="layout__item text--center">
      {% render 'empty_state' %}
    </div>
  {% endif %}
</div>

{% render 'title_bar'
  , svg_logo: svg_logo 
  , title: trmnl.plugin_settings.instance_name 
  , alert_count: sorted_alerts.size
%}