{% assign target_alert = nil %}

{% comment %} Find the most severe (PP) alert {% endcomment %}
{% for alert in sorted_alerts %}
  {% assign e_code = alert.categories.effect_code | default: alert.effect.code %}
  {% assign e_code_prefix = e_code | slice: 0, 2 %}

  {% if e_code_prefix == 'PP' %}
    {% assign target_alert = alert %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="layout layout--col layout--center-center">
  {% if target_alert %}
    {% assign severity = target_alert.categories.effect_status %}
    {% assign cause = target_alert.categories.cause_code %}
    {% assign description = target_alert.publications[0].textEn %}

    {% assign line_id = nil %}
    {% for entity in target_alert.entities %}
      {% if entity.line_name %}
        {% assign line_id = entity.line_name %}
      {% elsif entity.line_code == "99" %}
        {% assign line_id = "FM" %}
      {% endif %}
      {% if line_id %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% assign line_name = line_id %}
    {% for line_string in lines_data %}
      {% assign parts = line_string | split: ":" %}
      {% if parts[0] == line_id %}
        {% assign line_name = parts[1] %}
        {% break %}
      {% endif %}
    {% endfor %}

    <div class="layout__item text--center">
      <img class="image image-dither h--10 lg:h--16" src="{{ icon_url }}" />
      <div class="title title--large lg:title--xlarge portrait:title--small">{{ line_id }}</div>
      <div class="label lg:label--large">{{ line_name }}</div>
      <div class="gap--small lg:gap--medium"></div>
      <div>
        <span class="label label--inverted lg:label--xlarge">{{ severity }}</span>
        <span class="label label--white lg:label--xlarge">{{ cause }}</span>
      </div>
      <div class="gap--small lg:gap--medium"></div>
      <div
        class="text--small lg:text--base description"
        data-clamp="4"
        data-clamp-lg="6">
        {{ description }}
      </div>
    </div>
  {% else %}
    <div class="layout__item text--center">
      <img class="image image-dither h--10 lg:h--16" src="{{ icon_url }}" />
      <div class="title title--medium lg:title--large" style="margin-top: 10px;">Servei Normal</div>
      <div class="text--small lg:text--base text--gray">Totes les línies funcionen correctament.</div>
    </div>
  {% endif %}
</div>